/* .DocSchedule {
  display: inline-block;
  text-align: center;
} */

/* h1 {
  display: inline-block;
  text-align: center;
  margin-top: 3em auto;
  border-style: dashed;
  border-color: rgb(105, 105, 105);
  margin: 1em;
  padding: 0.2em 0.5em;
} */
h2 {
  font-weight: bold;
  color: blue;
}

table {
  display: inline-block;
  text-align: center;
  margin: 1em;
}

td {
  border: 1px solid rgb(0, 0, 0);
}

thead {
  background-color: #333;
  color: #fff;
}
