.HomePage .buttons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 1em auto;

  font-weight: bolder;
  font-size: large;

  background-color: rgb(214, 214, 214);
  color: rgb(77, 77, 77);
  height: 50px;
  width: 220px;
}
.Link {
  text-decoration: none;
}

.HomePage .buttons:hover {
  background-color: rgb(110, 110, 110);
  color: rgb(197, 197, 197);
}
